# http://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Backup data-container.
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm \
  --volumes-from data-container \
  -v $(pwd):/backup \
  -e TAR_OPTS="--verbose" \
  piscue/docker-backup backup "$(date +%F_%R).tar.xz"
